@import url('https://fonts.googleapis.com/css?family=Oswald:700');
@import url('https://fonts.googleapis.com/css?family=Poppins');
/*
 * Vivus settings form effect preview!
 */
.vivus__preview {
  padding: 30px 15px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAADFBMVEV/f3////9/f39/f39xh0+XAAAABHRSTlMAAGbMEuYkIAAAAB1JREFUeAFjYEQDQAEmBlQBJmYmVAEGdBVAMEwEAIvjAQSzFyXaAAAAAElFTkSuQmCC');
}
.vivus-preview svg *,
.vivus__preview svg *,
.vivus__welcome svg * {
  fill: none;
  stroke: currentColor;
}
/* Blocs */
.bloc {
  color: #f9f9f9;
  padding: 30px 0px;
  text-align: center;
}
.bloc-head {
  color: #5aa8c5;
  padding: 30px;
}
.bloc-demo {
  color: #ff495f;
}
.bloc-timing {
  color: #f7a800;
}
.bloc-scenario {
  color: #4fe084;
}
.bloc-doc {
  color: #69b0ca;
}
/* Vivus Preview */
.vivus-preview {
  padding: 0px 12px;
}
.shutter {
  width: 99px;
  height: 99px;
  cursor: crosshair;
  stroke-width: 2;
  stroke-miterlimit: 10;
  color: #ff495f;
}
#vivusUI {
  width: 300px;
  height: 270px;
  cursor: crosshair;
  stroke-width: 4;
}
#polaroid {
  width: 400px;
  height: 320px;
  margin: 0 auto;
  stroke: #f9f9f9;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
#polaroid * {
  fill: none;
  stroke: currentColor;
}
@media (max-width: 767px) {
  #polaroid {
    width: 100%;
    max-height: 300px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  #polaroid {
    width: 100%;
    max-height: 300px;
  }
}
@media (max-width: 480px) {
  #polaroid {
    width: 100%;
    max-height: 260px;
  }
}
/* Library status report */
.library-status-report {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding-block: 1em;
  padding-inline: 3em 1em;
  font-weight: 400;
  font-size: 14px;
  color: #545454;
  background-color: #f6f6f6;
  border-radius: .45rem;
}
.library-status-report::before {
  position: absolute;
  inset-block-start: 1em;
  inset-inline-start: 0.625rem;
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  margin-inline-end: 0.625rem;
  content: "";
  vertical-align: top;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3csvg fill='%23e29700' height='16' width='16' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m14.66 12.316-5.316-10.633c-.738-1.476-1.946-1.476-2.685 0l-5.317 10.633c-.738 1.477.008 2.684 1.658 2.684h10.002c1.65 0 2.396-1.207 1.658-2.684zm-7.66-8.316h2.002v5h-2.002zm2.252 8.615c0 .344-.281.625-.625.625h-1.25c-.345 0-.626-.281-.626-.625v-1.239c0-.344.281-.625.626-.625h1.25c.344 0 .625.281.625.625z'/%3e%3c/svg%3e");
}

/*
 * Vivus administration overview page!
 */
.vivus-filter.views-exposed-form {
  display: flex;
  flex-wrap: wrap;
  margin-block: var(--space-l);
  padding: var(--space-xs) var(--space-l) var(--space-l) var(--space-l);
  border: var(--details-border-size) solid var(--details-border-color);
  border-radius: var(--details-border-size-radius);
  background-color: var(--color-white);
  box-shadow: var(--details-box-shadow);
}
.vivus-filter {
  margin-bottom: 24px !important;
  padding-top: 12px !important;
  padding-bottom: 9px !important;
}
.vivus-filter .form-item {
  margin-right: 6px;
}
[dir="rtl"] .vivus-filter .form-item {
  margin-left: 6px;
  margin-right: 0;
}
.vivus-filter .form-element {
  display: table;
}
.vivus-filter .form-submit {
  margin-right: 6px;
}
[dir="rtl"] .vivus-filter .form-submit {
  margin-left: 6px;
  margin-right: 0;
}
.vivus-filter .form-submit:last-child {
  margin-left: 0;
  margin-right: 0;
}
/* List status marker */
.vivus-list .marker {
  font-size: .75rem;
  font-weight: 525;
  display: inline-block;
  padding: .125em .75em;
  vertical-align: .125em;
  border: 1px solid transparent;
  border-radius: .125rem;
  color: #777;
  background: #eee;
}
.gin-layer-wrapper .vivus-list .marker {
  color: #777;
  background: #eee;
  border-radius: .75rem;
}
.patterncss-list .marker--enabled {
  color: #fff;
  background-color: #26a769;
}
.gin-layer-wrapper .vivus-list .marker--enabled {
  color: #39b77b;
  background-color: #26a76930;
}

/*
 * Vivus form.
 */
[dir="rtl"] #edit-selector,
[dir="rtl"] #edit-selectors,
[dir="rtl"] #edit-options input[type="text"],
[dir="rtl"] #edit-options input[type="number"],
[dir="rtl"] #edit-vivus-options input[type="text"],
[dir="rtl"] #edit-vivus-options input[type="number"],
[dir="rtl"] #edit-url-pages {
  direction: ltr;
}
/* Vivus field suffix */
.vivus-form .form-item__suffix,
.vivus-settings-form .form-item__suffix {
  display: inline-flex;
  vertical-align: middle;
  margin-right: 0;
  margin-left: -6px;
  transform: rotate(90deg);
}
/* Animate flags */
.vivus-unit-flag,
.vivus-beta-flag,
.vivus-experimental-flag,
.vivus-new-flag {
  font-size: 10px;
  font-weight: 525;
  text-transform: uppercase;
  letter-spacing: .1em;
  display: inline-block;
  padding: .125em .5em;
  vertical-align: .125em;
  border: 1px solid transparent;
  border-radius: .125rem;
  line-height: 1.5;
}
body[class^="gin--"] .vivus-beta-flag,
body[class^="gin--"] .vivus-experimental-flag,
body[class^="gin--"] .vivus-new-flag {
  border-radius: .75rem;
}
.vivus-beta-flag,
.vivus-experimental-flag {
  color: #555;
  background: #ddd;
}
body[class^="gin--"] .vivus-beta-flag,
body[class^="gin--"] .vivus-experimental-flag {
  color: #777;
  background: #eee;
}
.gin--dark-mode .vivus-beta-flag,
.gin--dark-mode .vivus-experimental-flag {
  color: #9e9fa0 !important;
  background: rgba(255, 255, 255, .1) !important;
}
.vivus-new-flag {
  color: #fff;
  background-color: #26a769;
}
body[class^="gin--"]  .vivus-new-flag {
  font-size: 9px;
  font-weight: bold;
  color: #39b77b;
  background-color: #26a76930;
}
.vivus-unit-flag {
  font-size: 14px;
  color: #d8b234;
  text-transform: lowercase;
}
/* Table header in Gin theme */
.th__animation-name {
  width: 300px;
}
.th__weight {
  width: 30px;
}
.th__operations {
  width: 270px;
}
/* Table column */
.tabledrag-cell {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  vertical-align: middle !important;
}
.vivus-summary {
  padding: 0 15px;
  font-size: 12px;
}
.vivus-edit {
  padding: 36px 0px;
}
.vivus-options .form-element {
  display: block;
}
.vivus-options.container-inline .form-item {
  margin: 0;
}
.vivus-options.container-inline label::after,
.vivus-options.container-inline .label::after {
  content: '';
}
.vivus-options .form-type--boolean .form-boolean {
  position: inherit;
  float: none;
  margin-left: 0;
  transform: inherit;
}
.vivus-delay,
.vivus-duration {
  width: 90px;
}
.field-plugin-settings-editing {
  background: var(--color-blue-050);
}
/* Gin theme fix delete icon color */
#block-gin-content .action-link--icon-trash.action-link--danger:before,
#block-gin-content .button.button--danger:before,
#block-gin-content a.button.button--danger:before {
  background-color: #cc3d3d !important;
}
#block-gin-content .action-link--icon-trash.action-link--danger:hover:before,
#block-gin-content .action-link--icon-trash.action-link--danger:focus:before,
#block-gin-content .action-link--icon-trash.action-link--danger:active:before,
#block-gin-content .button.button--danger:hover:before,
#block-gin-content .button.button--danger:focus:before,
#block-gin-content .button.button--danger:active:before,
#block-gin-content a.button.button--danger:hover:before,
#block-gin-content a.button.button--danger:focus:before,
#block-gin-content a.button.button--danger:active:before {
  background-color: #ffffff !important;
}
